
{% extends 'main/base.html' %}

<!DOCTYPE html>
<html lang="en">

<body>
    {% block body %}
    <hr>
    <div class="container">

        <!-- <div class="row">
            <div class="col">
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Success card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                      <h5 class="card-title">Light card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Danger card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Warning card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Dark card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
        </div> -->

      
        {% for task in tasks %}
        <div class="col-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{task.title}}</h5>
                    <p class="card-text">{{task.description}}</p>
                    {% if done %}
                    <a type="button" class="btn btn-danger btn-sm" href="{% url 'delete_task' task.id %}">Delete</a>   
                    {% else %}
                    <a type="button" class="btn btn-success btn-sm" href="{% url 'add_done' task.id %}">Done</a>   
                    <a type="button" class="btn btn-primary btn-sm" href="{% url 'update_task' task.id %}" >Update</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}


    </div>    


    <script title="text/javascript">
        const cards = document.getElementsByClassName('col-4');        
        const num = cards.length

        let row;
        const container = document.getElementsByClassName('container')[0];
        for (let i = 0 ; i < num; i++){
            if (i % 3 == 0){
                row = document.createElement('div');
                var att = document.createAttribute("class");       
                att.value = "row justify-content-start";                           
                row.setAttributeNode(att);
                console.log(cards[0].textContent);
                row.appendChild(cards[0]);
                container.appendChild(row); 
            }
            else {
                console.log(cards[0].textContent);
                row.appendChild(cards[0]);
                container.appendChild(row);
            }
        }
    </script>


    {% endblock %}

</body>

</html>